<h3>carts</h3>
<p>
  <a routerLink="/shipping">配送费</a>
</p>
<div *ngFor="let item of items">
  <span>{{item.name}}</span>
  <span>{{item.price|currency}}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label>
      Name
    </label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label>
      Address
    </label>
    <input type="text" formControlName="address">
  </div>
  <button class="button" type="submit">结账</button>
</form>